body {
    background: -webkit-linear-gradient(50deg, #84a98c, #52796f, #354f52);
    background: linear-gradient(50deg, #84a98c, #52796f, #354f52);
}

.hello {
    opacity: 1 !important;
}

.filter_container {
    max-width: 1170px;
    margin: auto;
}

.gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.gallery-filter .filter-item {
    color: #ffffff;
    font-size: 17px;
    border: 2px solid white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery-filter .filter-item.active {
    color: white;
    border-color: #0f1718;
    background: #283d3f;
}

.gallery .gallery-item.hide {
    display: none;
}

.gallery .gallery-item.show {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;

}

.full .content img {
    top: 10%;
    transform: translate3d(0, 0, 0);
   
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}


.byebye {
    opacity: 1;
}

.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery_wrapper {
    padding: 20px 100px 80px 100px;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }

    .gallery-filter .filter-item {
        margin-bottom: 10px;
    }

    .gallery_wrapper {
        padding: 0 20px 30px 20px;
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
            max-width: 50%;
    
            filter: blur(4px);
        }
    
        30% {
            filter: blur(4px);
    
        }
    
        70% {
            max-width: 50%;
    
        }
    
        100% {
            max-width: 100%;
    
        }
}

@-webkit-keyframes zoomin {
0% {
        max-width: 50%;

        filter: blur(4px);
    }

    30% {
        filter: blur(4px);

    }

    70% {
        max-width: 50%;

    }

    100% {
        max-width: 100%;

    }
}

@-o-keyframes zoomin {
    0% {
            max-width: 50%;
    
            filter: blur(4px);
        }
    
        30% {
            filter: blur(4px);
    
        }
    
        70% {
            max-width: 50%;
    
        }
    
        100% {
            max-width: 100%;
    
        }
}

@keyframes zoomin {
    0% {
        max-width: 50%;
        
        filter: blur(4px);
    }

    30% {
        filter: blur(4px);
        
    }

    70% {
        max-width: 50%;
        
    }

    100% {
        max-width: 100%;
        
    }
}